body{
    background-color: #c4c4c4;
    opacity: 1.0;
    background: radial-gradient(circle, transparent 20%, #c4c4c4 20%, #c4c4c4 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #c4c4c4 20%, #c4c4c4 80%, transparent 80%, transparent) 15px 15px, linear-gradient(#000000 1.2000000000000002px, transparent 1.2000000000000002px) 0 -0.6000000000000001px, linear-gradient(90deg, #000000 1.2000000000000002px, #c4c4c4 1.2000000000000002px) -0.6000000000000001px 0;
    background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;}