*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'M PLUS Rounded 1c'; 
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);  
    background-color:rgb(32, 32, 32); 
   
}

/* ===== Generic Param. ===== */
.flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pos-a-0{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.hidden{ display:none }

/* ====== Counter Style ========== */
.cont_counter{
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.counter{
    width: 100%;
    min-height: 30vh;
    margin: 2rem;
}
.number_ring, .counter button{
    max-width: 7rem;
    min-height: 7rem; 
    width: 100%;
    height: 100%;
    
}

.number_ring, .counter button, .btn_contact{
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    background-color: #ffffff;
    font-weight: 600; 
    border-radius: 1rem;  
    box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, 0.4);
}

.number_ring{
    margin: 0 2rem;
    background-color: rgb(41, 41, 41); 
}

.counter button, .btn_contact{   
    border: none;
    cursor: pointer;
    background-color: #034194;
    color: white;
    border: .1rem solid black;
}

.btn_contact{
    height: auto;
    width: auto;
    padding: .5rem;
    transition: all 0.4s ease;
}

.btn_contact:hover { transform: scale(1.1);}

#message_counter{
    width: auto;
    min-height: auto;
    background-color:rgb(41, 41, 41) ;
    border-radius: 2rem;
    box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, 0.4);
    padding: .2rem 1rem;
}

/* ====== Card Style ====== */
.cont.active{ display:flex }

.cont{
    font-size: clamp(12px, 2vw, 20px);
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}

#close_button {
    margin: .5rem;
    cursor: pointer;
}

.cont_overlay{
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.card{
    background-color: rgb(32, 32, 32);
    height: 60%;
    width: 50%;
    padding: .5rem;
    border-radius: 1rem;
    position: relative;
    flex-wrap: wrap;
    overflow: auto;
    scrollbar-width: none;
    border: .1rem solid black;
    box-shadow: .5rem .5rem .5rem .5rem rgba(0, 0, 0, 0.4);
}

#link{
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #034194;
    font-weight: 600;
    text-align: center;
    height: 3rem;
    width: 11rem;
    margin: 3% 0;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px; 
    box-shadow: .5rem .5rem rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}

#link:hover{ transform: scale(1.1); }

.logo{
    margin: .5rem .8rem .5rem .5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.container_img{
    width: 50%;
    min-height: 100%
}

.image{
    max-width: 40vw;
    width: 85%;
    min-height: 50%;
    border-radius: 50%;
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.4);
}

.info{
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    flex-direction: column;
    width: 50%;
    min-height: 40vh;
    height: 100%;
}

.info h2{ margin-bottom: 3%; }

/* ==== Smartphone Media Query ==== */
@media (max-width: 600px) {

    .container_img{
        width: 100%;
        min-height: 35%;
        margin-bottom: 1rem;
    }
    .image{    
        width: 85%;    
    }
    .info{
        min-height: 30vh;
        width: 100%;
        justify-content: unset;
    }
    #link{
        margin: 5% 0;
        width: 9rem;
        height: 3rem;
    }
    .number_ring, .counter button{
        max-width: 5rem;
        min-height: 5rem;
    }
}